body {
  /* background-image: url("./images/storm.jpg"); */
  background-color: rgb(29, 95, 117);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: cover;
  font-family: 'Lato', sans-serif;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 0px;
}



.title-card {
  background-color: transparent;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: orange;
  border-style: solid;
}

.title {
  text-align: center;
  font-size: 60px;
  color: yellow;
  padding-top: 50px;
  font-family: 'Rock Salt', cursive;

}

.sub-title {
  text-align: center;
  font-size: 20px;
  color: yellow;
  font-family: 'Lato', sans-serif;
}

.form {
  text-align: center;
  justify-content: center;
  }

  .current-weather {
    text-align: center;
    border-color: transparent !important;
  }
 
  .current-card {
    text-align: center;
    color: yellow;
  }

  .current-weather-card {
    border-color: transparent !important;
  }

  .card {
    background-color: transparent;
    text-align: center;
    border-width: thick;
    border-color: orange;
    color: yellow;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }

  .top-form {
    text-align: center;
    font-size: 25px;
  }

  .card-deck {
    margin-bottom: -auto;
  }

  select#country.form-control {
    width: 220px;
    content: center;
    font-size: 25px;
    margin: auto;
  }

  select {
    text-align: center;
    text-align-last: center;
    }

    option {
      text-align: left;
      /* reset to left*/
    }
  .country {
    text-align: center;
  }

  .input {
    background-color: blue;
  }
  
  .button {
    border-radius: 10px, 10px, 10px 10px;
  }