body {
  background-color: lightgray;
}

.title {
  text-align: center;
}

.form {
  text-align: left;
  }

  .current-weather {
    text-align: left;
  }
 
  .current-card {
    text-align: left;
    
  }

  .card {
    background-color: lightgray;
  }